body {
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #666;
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

#header {
    padding: 0.6em;
    font-weight: bold;
    font-size: 110%;
}

#feed h1 {
    text-decoration: underline;
    margin: 5px 0;
    font-size: 170%;
}

#footer a, #feed h1 {
    color: #97310e;
}

#feed div, #footer {
    padding: 0.6em;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #fafafa;
}

#feed p {
    color: #000;
}

#loader {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #666;
}

.author, .date {
    padding: 0 2px;
}

.author {
    font-weight: bold;
}

.author:after {
    content: " |";
    font-weight: normal;
}
